.menu {
    position: fixed;
    z-index: 1;
    text-align: center;
    border-radius: 5px;

    button {
        display: block;
        outline: none;
        width: 140px;
        line-height: 2;
        font-weight: bold;
        color: #333;
        background: white;
        border-radius: 5px;
        box-shadow: 1px 1px 20px rgba(1, 1, 1, 0.9);

        &:hover {
            background: #ccc;
        }
        &:active {
            background: #999;
        }
    }

    &.main {
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background: rgba(255, 255, 255, 0.62);
        padding: 10px;
    }

    &.editorMenu {
        background: none;
        padding: 0;
        top: 20px;
        left: 30px;
        transform: none;

        button {
            width: 266px;
        }
    }
}
